/* Cabecera de la pagina */
.contenedor{
    width: 100%;
    height: 140px;
    background-color: var(--principal);
    display: flex;
    justify-content: space-evenly;
}
body{
    overflow-x: hidden;
}
:root{
    --pe:40px;
    --color1:#ab0033;
    --color2:#f7a6c0;
    --principal:black;
    --color3:white;
    --fuenteTitulo:'Pacifico', cursive;
    --fuenteCuerpo:'Poppins', sans-serif;
    --fuentePortada:'Josefin Sans', sans-serif;
}
.contenedor__logo{
    margin-top: -15px;
    color: var(--color1);
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    text-shadow: var(--color1) 10px 10px 10px;
}
.contenedor__logo_elemento{
    position: relative;
    top: 20px;
}
.subtitulo{
    font-family: 'Poppins', sans-serif;
    color: var(--color3);
    margin-top: -15px;
}
.contenedor .iconos{
    margin-top: var(--pe);
    margin-top: 50px;
}
.contenedor .iconos>svg{
    padding: .5rem;
    cursor: pointer;
}
.lista{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Noto Sans', sans-serif;
    color: var(--color3);
    background-color: var(--principal);
    height: 90px;
    font-weight: bold;
}
.lista div{
    margin-top: 40px;
    cursor: pointer;
    padding: 5px;
}
.lista div:hover{
    color: var(--color1);
}
.contenedor__portada{
    display: flex;
    height: 2150px;
}
.contenedor__portada .menu{
    width: 15%;
    border: none;
}
.portada{
    width: 85%;
    height: 500px;
}
/* Pie de pagina */
.pie{
    display: flex;
    justify-content: space-evenly;
    color: var(--color3);
    background-color: var(--principal);
}
.contenedor__pie{
    background-color: var(--principal);
}
.pie ul{
    color: var(--color3);
}
.pie ul li{
    padding: 10px;
    list-style: none;
}
.pie ul li a{
    text-decoration: none;
    font-family: var(--fuenteCuerpo);
    font-weight: bold;
    color:var(--color3);
}
.pie ul li a:hover{
    color:var(--color1);
    text-decoration: underline;
}
.redes{
    height: 100px;
    display: flex;
    justify-content: center;
}
.redes>svg{
    padding-left: 40px;
    cursor: pointer;
}
h4{
    width: 200px;
    padding: 30px;
    margin: auto;
    color: var(--color3);
}
/* Cuerpo de pagina */
    /*Lista de Categorias */
    
    .e{
        list-style: none;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        height: 20px;
        width: 200px;
    }
    .e :hover{
        background-color: rgb(232, 230, 230);
    }
    .elementos{
        padding: 10px;
        padding-right: 50px;
        border-radius: 5px;
    }
    .e a{
        font-family: var(--fuentePortada);
        font-size: 20px;
        margin-left: 5px;
        color: black;
        text-decoration: none;
    }
    /*Catalogo */
    .contenedor_catalogo{
        width: 90%;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }
    .contenedor_catalogo .titulo{
        background: linear-gradient(to right, #1a1a1a, #006666);
        width: 100%;
        height: 140px;
        color: var(--color3);
        font-family: var(--fuenteTitulo);
        text-align: center;
    }
    .catalogo{
        margin-left: 40px;
        display: grid;
        grid-template-columns: repeat(4,300px);
        gap: 10px;
    }
    .item{
        font-family: var(--fuentePortada);
        cursor: pointer;
        margin: auto;
        padding: 10px;
    }
    .item:hover{
        border: #1a1a1a solid 1px;
        box-shadow: #006666 1px 1px 10px;
    }