.datos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.cabecera{
    background-color: antiquewhite;
    width: 100%;
}
.icon{
    display: block;
    margin: auto;
    border-radius: 100px;
    border: slateblue solid 4px;
    background-color: blueviolet;
}
.cabecera .nombre_perfil{
    text-align: center;
}